 

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Sora';
}


html {
  scroll-behavior: smooth;
  transition: 0.5s;
}


 a{
  text-decoration: none !important;
  color: #fff;
 }
 a:hover{
  color: #fff;
 }


.fa,
.fas {
  font-family: 'FontAwesome';
  font-weight: 100;
}

@font-face {
  font-family: 'Sora';
  src: url('../font/Sora-Bold.woff2') format('woff2'),
      url('../font/Sora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Sora';
  src: url('../font/Sora-ExtraBold.woff') format('woff2'),
      url('../font/Sora-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('../font/Sora-Regular.woff2') format('woff2'),
      url('../font/Sora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Sora';
  src: url('../font/Sora-SemiBold.woff2') format('woff2'),
      url('../font/Sora-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}








h1 {
  font-family: 'Sora';
  font-size: 30px;
  color: #fff;
}

 


h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  font-family: 'Sora';
  color: #fff;
}

p {
  font-family: 'Sora';
  margin: 0px;
  font-size: 14px;
  color: #fff;
}

/* header css open here */
.btn-primary:hover {
  background-color: #0069d900;
  border-color: #0062cc00;
}

.ethapp {
  padding: 10px 15px;
  color: #000 ! important;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
  margin-top: 0px ! important;
  background-color: #f38688;
  background: linear-gradient(90deg, #daed48, #37dc4e);
  font-family: 'Poppins';
  text-transform: uppercase;

}

.walletText {
  color: #fff;
}

.mb-3>a {
  color: #00ff58;
  font-size: 16px;
}

.mb-3 {
  margin: 5px;
}

.connectbtn {
  width: 100%;
  background-image: linear-gradient(to right, #000000, #D90F74);
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 8px !important;
  border-radius: 30px;
  border: 1px solid #fff;
  width: 49%;
  color: #fff;
}



.join-us {
  width: 42px;
  height: 42px;
  background-color: #ff8400;
  text-align: center;
  font-size: 12px ! important;
  line-height: 15px;
  padding: 6px;
  border-radius: 100%;
  margin-top: 0px ! important;
}

.header-c1 {
  align-self: center;
}

.ethapp:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition: 0.5s;
}

.burgers>img {
  width: 38px;
}

.logo-box>a {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.logo-box>a:hover{
  color: #fff;
}
.logo-box{
  margin-left: 15px;
}
.burger-area {
  display: flex;
  display: none;
}

.mobile-header {
  display: none ! important;
}

.list-header2 {
  margin: 0px;
  padding: 0px;
  list-style: none;
  align-self: center;
  margin-left: 20px;
}

.logo-box>a>img {
  width: 100px;
}

.list-header {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.list-header>li>p {
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

.list-header>li {
  margin-left: 20px;
  align-self: center;
}

.list-header>li>p>img {
  width: 30px;
  margin-right: 10px;
}

.connectlist {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.connectlist>li>p {
  margin: 0px;
  font-size: 16px;
  color: #fff;
}

.connectlist>li>p>a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 6px 20px;
  border: 1px solid #fff;
  background-color: #164b6a;
  border-radius: 32px;
  transition: 0.5s;
  vertical-align: middle;
}

.connectlist>li>p>a:hover {
  color: #fccb20;
  background-color: #000;
  transition: 0.5s;
}

.border-b {
  padding: 15px 20px;
  background-color: #1b1c1e;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.nav-list>li>a>img {
  width: 30px;
}

.nav-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

.nav-list>li {
  margin-left: 15px;
  align-self: center;
}

.nav-list>li:first-child {
  margin-left: 0px;
}

.nav-list>li>a {
  background-color: #1f2128;
  border-radius: 14px;
  padding: 5px;
  display: block;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.5s;
  text-transform: uppercase;
}

.nav-list>li>a:hover {
  background-color: #414248;
}

.nav-list>li>a:focus {
  background-color: #414248;
}


.header-box {
  display: flex;
  justify-content: space-between;
  align-self: center;


}

.searchbutn>a {
  background-color: #2F5E90 !important;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}

.searchbutn>a>img {
  width: 18px;
}

.searchipt-wrp {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  margin-left: 40px;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff !important;
}



.header-c2 {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-list-d {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-self: center;

}

.menu-list-d>li>a {
  font-family: 'Poppins';
  color: #fff;
  text-decoration: none;

}

.buttonbg>a {
  font-family: 'Poppins';
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.buttonbg>a:hover {
  transform: translateY(-8px);
  color: #fff;
  box-shadow: 0px 0px 12px #fff;
}



.menu-list-d>li>a>img {
  width: 40px;
  transition: 0.5s;
  border-radius: 30px;
}

.menu-list-d>li>a>img:hover {
  transform: translateY(-8px);
  box-shadow: 0px 0px 14px 0px #11D6FF;
}

/* menu css open here */
.menu-list-wrp {
  padding: 30px 20px 30px 20px;
  background-color: #05050b;
  position: fixed;
  top: 0px;
  height: 1024px;
  z-index: 100000;
  transition: all .3s ease;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}

.menu-list2 {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inherit;
  text-align: center;
}

.menu-list2>li>a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  margin-top: 13px;
}

.menu-list2>li>a:hover {
  color: #D90F74;
}

.menu-list2>li>a>img {
  width: 18px;
  margin-right: 15px;
}

.cross {
  position: relative;
  left: 180px;
}

.cross>img {
  width: 25px;

}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.menu {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.slide-menu-right {
  left: -100%;
  top: 0;
  width: 35%;
  height: 100%;
}

.toggle-slide-right {
  display: none;

}

button.close-menu {
  color: #fff;
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.img-close {
  width: 22px;
}

body.smr-open .slide-menu-right {
  left: 0px;
}

.viewdetais-hide {
  display: none;

}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #0069d900 !important;
  border-color: #0063cc00 !important;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0) !important;
}

.menu-butn {
  display: inline-block;
  background-color: #414248;
  color: #fff;
  border-radius: 12px;
  padding: 10px 24px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

.menu-butn:hover {
  color: #fff;
  background-color: #1f2128 !important;
}

.navmenu {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #1f2128;
  min-width: 200px;
  z-index: 10;
  border-radius: 16px;
  margin-left: -50px;
  padding: 0px;
}

.active-al {
  color: #2F5E90 !important;
}

/* .dropdown-menu>a {
  color: #ffffff;
  display: inherit;
  text-decoration: none;
  padding: 8px 6px;
  font-weight: 700;
} */
.bogswap {
  color: #ffffff;
  display: inherit;
  text-decoration: none;
  padding: 10px 6px;
  font-weight: 700;
}

.bogswap:hover {
  border-radius: 12px 12px 0px 0px;
  color: #fff;
  background-color: #414248;
}

.bogswap:focus {
  border-radius: 12px 12px 0px 0px;
  color: #fff;
  background-color: #414248;
}

.safuuswap {
  color: #ffffff;
  display: inherit;
  text-decoration: none;
  padding: 10px 6px;
  font-weight: 700;
}

.safuuswap:hover {
  border-radius: 0px 0px 12px 12px;
  color: #fff;
  background-color: #414248;
}

.safuuswap:focus {
  border-radius: 0px 0px 12px 12px;
  color: #fff;
  background-color: #414248;
}

.addtokenw {
  padding: 8px 6px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: 700;
}

/* .dropdown-menu>a:hover {
  border-radius: 12px;
  color: #fff;
  background-color: #414248;
} */

.navmenu:hover .dropdown-menu {
  display: block;
}

.navmenu:hover .menu-butn {
  background-color: transparent;
}

.connect-wallet>a {
  display: block;
  background-color: #323335;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  transition: 0.4s;
  font-weight: 500;
  text-align: center;
}

.connect-wallet>a:hover {
  transform: translateY(-4px);
  color: #fff;
}

/* menu css closed here */
/* header css closed here */


/* homepage open here */

/* banner section open here */
#banner-section{
  padding: 80px 0px;
  background-color: #1b1c1e;

}
.coincomp-wrp{
  background-color: #1b1c1e;
  padding-bottom: 50px;
}
.bnr-hding > h1{
  text-align: center;
  color: #fff;
}
.bnr-bx{
  width: 100%;
    background-color: #323335;
    border-radius: 10px;
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 5%);
    padding: 125px 25px;
    text-align: center;
    height: 360px;
}
.bnr-bx > img{
  width: 60px;
}
.bnr-bx > h3{
  font-size: 16px;
  margin-top: 15px;
}
.bnr-main-wrp{
  margin-top: 50px;
}
/* banner section closed here */

/* coin section open here */
.coin-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.coin-list > li {
  margin-left: 35px;
}
.coin-list > li:first-child{
  margin-left: 0px;
}
label{
  margin: 0px;
    margin-left: 10px;
}
#ethereum-box{
  margin-top: 40px;
}
.video{
  width: 100%;
  border-radius: 16px;
}
 
.nftimg > img{
  width: 100%;
  height: 415px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
}
label{
  color: #fff;
}
.checkinpt{
  color: #fff;
}
 
.NFTbox{
  margin-top: 30px;
  width: 100%;
  background-color: #323335;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 10%);
  text-align: center;
  border-radius: 16px;
}
#coin-section{
  padding: 30px 0px 0px 0px;
}

.nftbox-bcont{
  text-align: left;
  padding: 20px;
}
.name{
  font-size: 16px;
  font-weight: bold;
}
.nftbx-butn > a {
  display: inline-block;
  color: #fff;
  margin-top: 5px;
  transition: 0.5s;
}
.nftbx-butn > a:hover{
  color: #2c76c5;
}
.clickable{
  position: relative;
}
.top-popup{
  position: absolute;
  top: 42px;
  right: 0;
  left: 10px;
  margin: 0px 20px;
}
.popup-coin-list{
  display: flex;
  justify-content: right;
}
.popup-wrp{
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}
.popup-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: left;
}
.popup-list > li {
  margin-top: 15px;
}
.popup-list > li:first-child{
  margin-top: 0px;
}

 
.NFT-menu {
  position: absolute;
    width: 100%;
    margin: 20px 0px 20px 1px;
    border-radius: 12px;
    z-index: 1;
    background-color: #fff;
    padding: 20px;
}
.nftmenulist{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.nftmenulist > li{
  margin-top: 15px;
}
.nftmenulist > li:first-child{
  margin-top: 0px;
}
.nftmenulist > li > a{
  color: #000;
  transition: 0.5s;
}
.nftmenulist > li > a:hover{
  color: #2c76c5;
}
.butnbg{
  text-align: right;
}
.butnbg > button{
  background: none;
  border: none;
  outline: none;
}
/* coin section closed here */


/* popup open here */

/* popup closed here */




/* homepage closed here */

 


 

/* similarpage open here */
#similarpage{
  padding: 80px 0px;
  background-color: #373a3e;
}
.poster{
  display: flex;
  justify-content: center;
}
#similarbtm-wrp{
  
  background-color: #1b1c1e;
  padding: 50px 0px;
}
.similarbtm > h1{
  font-weight: bold;
}
.similarbtm > p{
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}
.similarbtm-butn-wrp{
  text-align: center;
  margin-top: 40px;
}
.openseabutn{
  margin: 15px 0px;
}
.openseabutn > a{
  display: inline-block;
border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: 0.5s;
  width: 230px;
}
.openseabutn > a:hover{
  background-color: #323335;
  border: 2px solid #323335;
  color: #fff;
  transform: translateY(-5px);
}

.etherscanbutn{
  margin: 15px 0px;
}
.etherscanbutn > a{
  display: inline-block;
border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: 0.5s;
  width: 230px;
}
.etherscanbutn > a:hover{
  background-color: #323335;
  border: 2px solid #323335;
  color: #fff;
  transform: translateY(-5px);
}
.bizarroworldbutn{
  margin: 60px 0px;
}
.bizarroworldbutn > a{
  display: inline-block;
border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: 0.5s;
  width: 230px;
}
.bizarroworldbutn > a:hover{
  background-color: #323335;
  border: 2px solid #323335;
  color: #fff;
  transform: translateY(-5px);
}
.similar-hding{
  margin-bottom: 40px;
  margin-top: 60px;
}
.social-icon{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.social-icon > li {
  margin-left: 10px;
}
.social-icon > li:first-child{
  margin-left: 0px;
}
.social-icon > li > a {
  display: inline-block;
  width: 50px;
  height: 40px;
  padding: 10px;
  border: 1px solid #4b4c4f;
  border-radius: 12px;
  line-height: 18px;
  transition: 0.5s;
}
.social-icon > li > a > img{
  width: 100%;
  height: 100%;
}
.social-icon > li > a:hover{
  transform: translateY(-8px);
}
.poster > img{
  width: 300px;
}

.moreinfobutn{
  margin-top: 40px;
}
.moreinfobutn > a{
  display: inline-block;
border: 2px solid #fff;
background-color: #000;
  padding: 8px 24px;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: 0.5s;
}
.moreinfobutn > a:hover{
  background-color: #323335;
  color: #fff;
  transform: translateY(-5px);
}
/* similarpage closed here */

/* signup open here */
#signup{
  padding: 50px 0px;
  background-color: #1b1c1e;
  height: 768px;
}
.signupbox{
  background-color: #323335;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 5%);
  text-align: center;
  padding: 20px;
}
.form-input{
  background-color: #47484b;
  border: none !important;
  border-radius: 25px;
  font-size: 12pt;
  outline: none !important;
  display: block;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 16px 0px;
  height: 50px;
  color: #fff !important;
  margin-top: 20px !important;
}
 
.signup-hding > h1{
  margin-bottom: 50px;
}
.form-input > input::placeholder{
  color: #fff;
}
.signupbox > input{
  background-color: #47484b;
  margin: auto;
  width: 300px;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12pt;
    outline: none;
    display: block;
    margin-bottom: 10px;
    min-width: 300px;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 16px 0px;
    height: 50px;
    color: #fff;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 30px !important;
  color: #fff !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root > input{
  padding: 14px !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root > input::placeholder{
  color: rgba(255, 255, 255, 0.411) !important;
}
.form-input > label{
  color: rgba(255, 255, 255, 0.468)! important;
}
.signpubutn {
  display: inline-block !important;
  background-color: #ff5353 !important;
  color: #fff !important;
  border-radius: 30px !important;
  padding: 10px 24px !important;
  margin: 30px 0px 15px 0px !important;
  transition: 0.5s !important;
}
.signpubutn:hover{
  transform: translateY(-6px);
}
.sig-pr{
  color: #fff;
  margin: 10px;
}
.sig-pr > span{
   border-bottom: 1px solid rgba(255, 255, 255, 0.341);
   padding-bottom: 1px;
  transition: 0.5s;
}
.sig-pr > span:hover{
  border-bottom: 1px solid rgb(255, 255, 255);
}
/* signup closed here */

/* header3 open here */
.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  overflow: hidden;
  z-index: 10;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div{
  display:table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  right: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(250px);
  transition: transform 250ms ease-in-out;
  background-color: #1b1c1e;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner > li > a{
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
.sidebarMenuInner > li > a:hover{
  color: #1b9cfc;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 28px;
  right: 50px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
/* header3 closed here */

/* walletpage open here */
.walletpage {
  padding: 80px 0px;
  background-color: #1b1c1e;
}
.wallet-hding{
  display: flex;
  justify-content: space-between;
}
.wallet-hding > a {
  display: inline-block;
    background-color: #ff5353;
    color: #fff;
    border-radius: 30px;
    padding: 10px 24px;
    transition: 0.5s;
}
.wallet-hding > a:hover{
  transform: translateY(-8px);
  color: #fff;
}
.no-wallet{
  margin-top: 15px;
  text-align: center;
}
.myprofile{
  margin-top: 80px;
}
.edit-profile{
  text-align: center;
  margin-top: 50px;
}
.edit-profile > a {
  display: inline-block;
    background-color: #323335;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 500;
    text-align: center;
}
.edit-profile > a:hover{
  transform: translateY(-6px);
  color: #fff;
}
.edit-profile > p{
  margin-top: 40px;
}
.textareainpt{
  margin: 20px;
}
.inpt-bio{
  padding: 14px 24px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 16px 0px;
    border: 1px solid #00000038;
    border-radius: 30px;
}
.inpt-hding-mr{
  margin-top: 15px;
}
.link-hding{
  font-size: 24px;
  color: #000;
  margin-top: 15px;
  font-weight: bold;
}
.note > p {
  color: #000;
  margin-top: 20px;
}
.submitbutn > a {
  display: block;
  background-color: #323335;
  padding: 12px;
  border-radius: 30px;
  text-align: center;
  margin-top: 15px;
  color:#fff;
  font-size: 16px;
  transition: 0.5s;
}
.submitbutn > a:hover{
  transform: translateY(-6px);
color: #fff;
}
.closebutn > a {
  display: block;
  background-color: #323335;
  padding: 12px;
  border-radius: 30px;
  text-align: center;
  margin-top: 15px;
  color:#fff;
  font-size: 16px;
  transition: 0.5s;
}
.closebutn > a:hover{
  transform: translateY(-6px);
color: #fff;
}
.inpt-hding{
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.textareainpt > textarea{
  width: 100%;
}
.connect-wallet{
  text-align: center;
  margin-top: 50px;
}
.connect-wallet > a {
  display: inline-block;
    background-color: #323335;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 500;
    text-align: center;
}
.connect-wallet > a:hover{
  transform: translateY(-6px);
  color: #fff;
}
.token-main-box{
  margin: 20px auto;
    width: 450px;
    flex-direction: column;
    align-items: center;
}
 
/* swap open here */
.swap-card {
  margin-top: 30px;
  background-color: #0000009c;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 0px 11px -6px #05050b7d;
}
.swap-h > h1{
  font-size: 20px;
}
.swap-hding{
  display: flex;
  justify-content: space-between;
}
.swapleft{
  display: flex;
}
.settingicon{
  margin-left: 15px;
}
.settingicon > a > img{
  width: 24px;
  transition: 0.5s;
}
.settingicon > a > img:hover{
  opacity: 70%;
}
.refreshicon > a > img{
  width: 24px;
  transition: 0.5s;
}
.refreshicon > a > img:hover{
  opacity: 70%;
}
.swap-para{
  font-size: 16px;
  margin-top: 5px;
}
.input-box {
  margin-top: 30px;
  -o-border-image: none;
  border-image: none;
  -o-border-image: initial;
  border-image: initial;
  border-color: #ff5353 currentcolor currentcolor #ff5353;
  border-style: solid none none solid;
  border-width: 1px;
  border-right-color: initial;
  border-radius: 16px;
  background: #323335;
  box-shadow: 5px 5px 7px -5px #000;
  padding: 20px;
}
.input-box p {
  color: #d0dce8;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}
.input-box .input-section {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box > p > span {
  font-size: 14px;
}
.input-section input {
  color: #d0dce8;
  width: 0;
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: transparent;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.input-section>span {
  color: #607af1;
  font-weight: 500;
  font-size: 15px;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
  transition: all .3s;
}
 .dropdown-selection{
  display: flex;
 }
  
select{
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
}
option{
  color: #000;
}

.coin-icon{
  margin-right: 10px;
}

.coin-icon > img{
  width: 24px;
}
.arrowup{
  text-align: center;
  margin-top: 30px;
}
.arrowup > a > img{
  width: 20px;
}
.tolerence{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 10px;
}
.tolerence > h3{
  font-size: 16px;
}
.tolerence > p{
  font-size: 15px;
  font-weight: 500;
  color: #607af1;
}
.swap-list{
  margin: 15px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}
.amount-q{
  margin-left: 25px;
  margin-top: -2px;
}
 
 .s-list{
  display: flex;
  justify-content: space-between;
 }
.swap-list > li {
  margin-top: 15px;
}
.swap-list > li:first-child{
  margin-top: 0px;
}
.tooltipquery{
  display: flex;
}
.tooltipimg{
  width: 16px;
}
.tooltipbutn{
  padding: 0px !important;
 display: inherit !important;
 min-width: 20px !important;
 font-size: 0px !important;
}
title{
  font-size: 14px;
}
.modal-backdrop.show {
  opacity: 100% !important;
}
.btn-close{
  background-image: url(../images/closebutn.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
}
.modal-content{
  border: 1px solid #4d69fa;
  background-color: #2b335d;
}
.modal-dialog {
  margin: 10rem auto;
}
.modalbody{
  padding: 15px 25px;
}
.b-hding > h3{
  color: #4d69fa;
    font-size: 15px;
    margin-bottom: 15px;
}
 
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #455cd2;
  border-color: #dee2e600 #dee2e600 #fff0;
  outline: none;
  border-radius: 30px;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e600;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  margin-right: 15px;
  border-radius: 30px !important;
  background-color: #435294;
  color: #9babfe;
  box-shadow: 0px 2px 9px -4px #000;
}
.nav-link:hover{
  border: 1px solid rgba(255, 255, 255, 0) !important;
}
.tabswap{
  margin: 25px 0px;
  
}
.mb-3{
  margin: 5px 0px;
}
.swap-tab-cont > p {
  color: #4d69fa;
    font-size: 14px;
}
.swap-tab2-cont{
  text-align: left !important;
  margin-left: 244px;
  margin-top: -57px;
  display: flex;
}
.swap-tab2-cont > input {
  display: inline-block;
  font-size: 14px;
  border-radius: 30px !important;
  background-color: #435294;
  color: #fff;
  box-shadow: 0px 2px 9px -4px #000;
  padding: 10px 24px;
  border: none;
  outline: none;
  width: 40%;
}
.swap-tab2-cont > input::placeholder{
  color: #fff;
}
.swap-tab2-cont > span{
  color: #fff;
  margin-top: 10px;
    margin-left: 10px;
}
.fade {
  transition: inherit;
}
.reviewswap > a{
  display: block;
  background-color: #ff5353;
  color: #fff;
  border-radius: 30px;
  padding: 10px 24px;
  transition: 0.5s;
  text-align: center;
}
.reviewswap > a{
  color: #fff;
}
/* swap closed here */
/* walletpage closed here */